<!--button title="Information" (click)="dataSource.showInfo(variable.selectedRecordForDetail)" type="button" label="Information" style="margin: 10px 10px 0 0"><i title="Information" class="fas fa-info-circle"></i> Information</button>
<button title="Heading" (click)="dataSource.showHead(variable.selectedRecordForDetail)" type="button" label="Headers" style="margin: 10px 10px 0 0"><i title="Heading" class="fas fa-heading"></i> Heading</button>
<button title="View Details" (click)="dataSource.showData(variable.selectedRecordForDetail)" type="button" label="View Details" style="margin: 10px 10px 0 0"><i title="View Details" class="fas fa-eye"></i> View Details</button-->
<app-file-data></app-file-data>
